.content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.planets {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

h2 {
  margin-bottom: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 220px;
  height: 150px;
  padding: 1rem;
  background: #1b1b1b;
  border-radius: 0.5rem;
}

.card p {
  /* margin: 0.25rem 0; */
  color: #999;
}

.card h3 {
  margin: 0.5rem 0;
  color: #ffcc4d;
}
